{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock%}

{% block content %}
<header class="py-5 background-image5">
  <div class="container d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-8">
        <div class="text-center semi-opaque-grey rounded p-2">
          <h1 class="display-5 fw-bolder text-center main-title-color mb-2">
            About Us
          </h1>
          <div>
          <p class="fw-normal">
            At ForThe50, we are dedicated to combating human trafficking and modern
          slavery through awareness, education, and <strong class="red"> action. </strong>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<section class="py-4 black1">
   <div class="row gy-4 justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-5">
    <div class="card-custom rounded">
      <h3 class="card-title">Our Mission</h3>
      <p>
        Our mission is to empower individuals and communities by providing
        resources, tools, and support to fight against human trafficking and
        modern slavery. We aim to create a world where everyone can live
        free from exploitation.
      </p>
    </div>
    
  </div>
  <div class="col-12 col-sm-10 col-md-8 col-lg-5">
    <div class="card-custom rounded">
      <h3 class="card-title red">Our Vision</h3>
      <p>
        We envision a society where human trafficking is eradicated,
        survivors are supported, and justice is served. Through
        collaboration with communities and organizations, we aim to achieve
        lasting change.
      </p>
    </div>
  </div>
</div>

<div class="col-lg-6 col-xxl-4 mb-5">

</div>
<div class="row gy-4 justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-5">
    <div class="card-custom rounded">
      <h3 class="card-title">Our Approach</h3>
      <p>
        Our approach includes educating the public about the realities of
              trafficking, providing tools for reporting suspicious activities,
              and supporting victims through collaboration with local and
              international organizations.
      </p>
    </div>
  </div>
  <div class="col-12 col-sm-10 col-md-8 col-lg-5">
    <div class="card-custom rounded">
      <h3 class="card-title">Our Impact</h3>
      <p>
        Since our inception, we have reached thousands through awareness
              campaigns, helped identify trafficking cases, and connected
              survivors with the necessary support and resources to rebuild their
              lives.
      </p>
    </div>
  </div>
</div>
  
    
  
    <!-- Call to Action -->
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-8 text-center">
        <p class="lead mb-4">
          Join us in the fight against human trafficking. Together, we can make a
          difference.
        </p>
        <a href="{% url 'contact' %}" class="btn primary-btn text-uppercase shadow me-3">Contact Resources</a>
        <a href="{% url 'report' %}" class="btn primary-btn text-uppercase shadow">Report a Crime</a>
      </div>
    </div>
  </div>
</section>
  
{% endblock %}
