{% extends "base.html" %}
{% load static %}

{% block title %}For the 50{% endblock %}

{% block content %}
<!-- Header-->
<header class="py-5 background-image1">
  <div class="container d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-8">
        <div class="text-center semi-opaque-grey rounded p-2">
          <h1 class="display-5 fw-bolder text-center main-title-color mb-2">
            Combating Modern Slavery and Human Trafficking in the UK
            and Ireland
          </h1>
          <div>
          <p class="fw-normal">
            Modern slavery and human trafficking gravely violate human rights,
            with an estimated <strong class="red">50 million</strong> people trapped in servitude.
            ForThe50 aims to raise awareness and help end this heinous crime.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="py-4 back1">
  <div class="container px-3 px-md-5">
      <div class="row gx-5 rounded card1 h-90 py-3">
        <div class="col-lg-8">
          <p class="text-left">
            Modern slavery involves individuals being exploited and unable to refuse or leave due to threats, coercion, or deception. This exploitation can take many forms, including forced labor, debt bondage, domestic servitude, sexual exploitation, and even criminal activities. Victims are often stripped of their freedom, denied basic rights, and subjected to degrading and inhumane treatment. According to recent estimates, over 50 million people globally are trapped in modern slavery, with women and children disproportionately affected. Industries such as agriculture, construction, hospitality, and beauty services are among the sectors where exploitation is most prevalent. These crimes operate in the shadows, often concealed from public view, making detection and intervention challenging but crucial.
          </p>
        </div>

        <div class="col-lg-4 text-center">
          <img src="{% static 'assets/Industrial-site.jpg' %}" alt="Icon" class="featurette-image img-fluid rounded">
        </div>
      </div>

      <div class="col-lg-6 col-xxl-4 mb-5">

      </div>

      <div class="row gx-5 rounded card1 h-90 py-3">

        <div class="col-lg-4 text-center">
          <img src="{% static 'assets/Every-human-has-rights.jpg' %}" alt="Icon"
            class="featurette-image img-fluid rounded">
        </div>
        <div class="col-lg-8">
          <p class="text-left">
            In 2024, the UK recorded 4,758 referrals for potential victims of modern slavery in just the third quarter, a 15% increase compared to the same period in 2023. This stark rise highlights the growing need for vigilance and intervention. Among the victims identified, 68% were adults, and 31% were children, with many subjected to labor, sexual, and criminal exploitation. Ireland, too, has seen a troubling increase in cases, with 53 victims identified in 2023, marking a 20% rise from 2021. These figures are likely underreported, as many victims remain hidden due to fear, stigma, or a lack of awareness of their rights. Tackling this issue requires a collective effort, involving governments, NGOs, law enforcement agencies, and communities, to ensure that victims are supported and traffickers are held accountable.</p>
        </div>
      </div>

      <div class="col-lg-6 col-xxl-4 mb-5">

      </div>
      <div class="row gx-5 rounded card1 h-90 py-3">
        <!-- Left Column: Text and Table -->
        <div class="col-lg-8">
          <div class="mb-3">
            <p class="text-left">
              Modern slavery involves individuals being exploited and unable to refuse or leave due to threats, coercion,
              or deception. This exploitation can take many forms, including forced labor, debt bondage, domestic
              servitude, sexual exploitation, and even criminal activities. Meanwhile, human trafficking is a crime that
              revolves around the recruitment, transportation, and exploitation of victims through fraud, force, or
              coercion.
            </p>
          </div>
          <div class="table-responsive">
            <table class="styled-table ">
              <thead>
                <tr>
                  <th>Industry</th>
                  <th>Signs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Agriculture</td>
                  <td>Overcrowded housing, little or no pay for long hours.</td>
                </tr>
                <tr>
                  <td>Construction</td>
                  <td>Lack of protective gear, unsafe conditions.</td>
                </tr>
                <tr>
                  <td>Hospitality</td>
                  <td>Anxious employees, dependence on tips, no contracts.</td>
                </tr>
                <tr>
                  <td>Nail Bars/<br>Beauty</td>
                  <td>Young workers, submissive to managers, undertrained.</td>
                </tr>
                <tr>
                  <td>Car Washes</td>
                  <td>Exposure to chemicals, poor working conditions.</td>
                </tr>
                <tr>
                  <td>Logistics/<br>Warehousing</td>
                  <td>Long shifts, few breaks during peak retail periods.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
        <!-- Right Column: Image -->
        <div class="col-lg-4 text-center">
          <img src="{% static 'assets/Trafficking-happening.jpg' %}" alt="Image of protester" class="featurette-image img-fluid rounded">
        </div>
      </div>
      <div class="col-lg-6 col-xxl-4 mb-5">
      </div>
   </div> 
</section>

{% endblock content %}