{% extends 'base.html' %}
{% load static %}

{% block title %}Statistics{% endblock %}

{% block content %}
<div class="container my-3">
  <h1 class="text-center">Statistics on Human Trafficking and Slavery</h1>
  <div class="text-center my-3">
    <button class="btn primary-btn inactive-btn text-uppercase shadow mx-2" id="irelandButton">Show Ireland Data</button>
    <button class="btn primary-btn inactive-btn text-uppercase shadow mx-2" id="ukButton">Show UK Data</button>
  </div>
  <div id="irelandData" class="country-data">
    <h2 class="text-center pt-2">Data of Ireland</h2>
    <div class="row d-flex align-items-stretch">
        <div class="col">
          <p>The data presented in this report is drawn from the IHREC National Rapporteur on Human Trafficking's 2022
            Evaluation
            Report. This independent evaluation highlights progress made by the Irish State in combating human trafficking,
            identifies
            gaps, and analyzes emerging trends such as technology-facilitated trafficking, increasing labor exploitation,
            and the
            impact of the war in Ukraine. The report reflects a holistic, human rights-oriented approach and incorporates
            survivor
            input. It also examines significant developments in Ireland, including the new anti-trafficking National Action
            Plan and
            the establishment of a victim-centered National Referral Mechanism. This work is made possible through
            collaboration
            with State agencies, survivor activists, and support organizations, with the aim of driving meaningful change to
            prevent
            trafficking, prosecute perpetrators, and protect survivors.</p>
        </div>
      </div>

    <!-- Row for the cards -->
    <div class="row d-flex align-items-stretch">
      <!-- Card for Human Trafficking Types -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking Types</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="traffickingChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Victims by Gender and Age -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Victims by Gender and Age</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="genderAgeChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Total Victims Identified -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Total Victims Identified in 2022</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="totalVictimsChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Victim Age Group -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Victim Age Group</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ageGroupChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Sexual Exploitation by Gender -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Total Victims of Sexual Exploitation by Gender 2018-2022</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="sexualExploitationGenderChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Labour Exploitation by Gender -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Total Victims of Labour Exploitation by Gender 2018-2022</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="labourExploitationGenderChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Forced Criminality Exploitation by Gender -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Total Victims of Forced Criminality Exploitation by Gender 2018-2022</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="criminalityExploitationGenderChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Other Exploitation by Gender -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Total Victims of Other Exploitation by Gender 2018-2022</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="otherExploitationGenderChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="ukData" class="country-data">
    <h2 class="text-center pt-2">Data of United Kingdom</h2>
    <div class="row d-flex align-items-stretch">
      <div class="col">
        <p></p>
      </div>
    </div>

    <!-- Row for the cards -->
    <div class="row d-flex align-items-stretch">
      <!-- Card for Human Trafficking Types Females -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking Types in Females 2017</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ukTraffickingChartFemale"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Human Trafficking Types Males -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking Types in Males 2017</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ukTraffickingChartMale"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Human Trafficking Types Girls -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking Types in Girls 2017</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ukTraffickingChartGirls"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Human Trafficking Types Boys -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking Types in Boys 2017</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ukTraffickingChartBoys"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Human Trafficking by Country - England -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking by Country (England) 2018</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ukTraffickingChartEngland"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Human Trafficking by Country - Scotland -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking by Country (Scotland) 2018</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ukTraffickingChartScotland"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Human Trafficking by Country - Wales -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking by Country (Wales) 2018</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ukTraffickingChartWales"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- Card for Human Trafficking by Country - Northern Ireland -->
      <div class="col-12 col-md-6 col-lg-4 my-4">
        <div class="stat-card shadow rounded">
          <div class="card-body text-center">
            <h3 class="h4 card-title text-center">Human Trafficking by Country (Northern Ireland) 2018</h3>
            <div class="chart-container">
              <canvas class="mx-auto" id="ukTraffickingChartNorthernIreland"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // Data for Human Trafficking Types
  const traffickingData = {
    labels: [
      'Trafficking for Sexual Exploitation',
      'Trafficking for Labour Exploitation',
      'Trafficking for Criminal Activities',
      'Other types of Trafficking'
    ],
    datasets: [{
      data: [24, 15, 2, 1],
      backgroundColor: ['#b1181d', '#5e6572', '#cacaca', '#ffeb3b'],
      hoverOffset: 4
    }]
  };

  // Data for Victims by Gender and Age
  const genderAgeData = {
    labels: ['Male', 'Boys', 'Female', 'Girls'],
    datasets: [{
      data: [161, 9, 312, 30],
      backgroundColor: ['#cacaca', '#ffeb3b', '#7c808d', '#b1181d'],
      hoverOffset: 4
    }]
  };

  // Data for Total Victims Identified
  const totalVictimsData = {
    labels: [
      'Victims of Sexual Exploitation',
      'Victims of Labour Exploitation',
      'Victims of Forced Criminality',
      'Suspected Organ Removal'
    ],
    datasets: [{
      data: [24, 15, 2, 1],
      backgroundColor: ['#b1181d', '#5e6572', '#cacaca', '#000000'],
      hoverOffset: 4
    }]
  };

  // Data for Victim Age Group
  const ageGroupData = {
    labels: ['Adult', 'Minor'],
    datasets: [{
      data: [37, 5],
      backgroundColor: ['#5e6572', '#ffeb3b'],
      hoverOffset: 4
    }]
  };

  // Data for Sexual Exploitation by Gender
  const sexualExploitationGenderData = {
    labels: ['Female', 'Male'],
    datasets: [{
      data: [130, 6],
      backgroundColor: ['#7c808d', '#cacaca'],
      hoverOffset: 4
    }]
  };

  // Data for Labour Exploitation by Gender
  const labourExploitationGenderData = {
    labels: ['Female', 'Male'],
    datasets: [{
      data: [24, 58],
      backgroundColor: ['#7c808d', '#cacaca'],
      hoverOffset: 4
    }]
  };

  // Data for Forced Criminality Exploitation by Gender
  const criminalityExploitationGenderData = {
    labels: ['Female', 'Male'],
    datasets: [{
      data: [1, 5],
      backgroundColor: ['#7c808d', '#cacaca'],
      hoverOffset: 4
    }]
  };

  // Data for Other Exploitation by Gender
  const otherExploitationGenderData = {
    labels: ['Female', 'Male'],
    datasets: [{
      data: [4, 2],
      backgroundColor: ['#7c808d', '#cacaca'],
      hoverOffset: 4
    }]
  };

  // UK Data
  // Data for Human Trafficking Types
  const ukTraffickingDataFemale = {
    labels: [
      'Trafficking for Domestic Servitude',
      'Trafficking for Labour Exploitation',
      'Trafficking for Sexual Activities',
      'Trafficking for Organ Harvesting',
      'Other types of Trafficking'
    ],
    datasets: [{
      data: [322, 269, 1192, 1, 60],
      backgroundColor: ['#b1181d', '#5e6572', '#cacaca', '#ffeb3b', '#7c808d'],
      hoverOffset: 4
    }]
  };

  // Data for Human Trafficking Types
  const ukTraffickingDataMale = {
    labels: [
      'Trafficking for Domestic Servitude',
      'Trafficking for Labour Exploitation',
      'Trafficking for Sexual Activities',
      'Trafficking for Organ Harvesting',
      'Other types of Trafficking'
    ],
    datasets: [{
      data: [97, 1723, 94, 1, 93],
      backgroundColor: ['#b1181d', '#5e6572', '#cacaca', '#ffeb3b', '#7c808d'],
      hoverOffset: 4
    }]
  };

  // Data for Human Trafficking Types
    const ukTraffickingDataGirls = {
      labels: [
        'Trafficking for Domestic Servitude',
        'Trafficking for Labour Exploitation',
        'Trafficking for Sexual Activities',
        'Trafficking for Organ Harvesting',
        'Other types of Trafficking'
      ],
      datasets: [{
        data: [43, 185, 533, 0, 123],
        backgroundColor: ['#b1181d', '#5e6572', '#cacaca', '#ffeb3b', '#7c808d'],
        hoverOffset: 4
      }]
    };

    // Data for Human Trafficking Types
      const ukTraffickingDataBoys = {
        labels: [
          'Trafficking for Domestic Servitude',
          'Trafficking for Labour Exploitation',
          'Trafficking for Sexual Activities',
          'Trafficking for Organ Harvesting',
          'Other types of Trafficking'
        ],
        datasets: [{
          data: [53, 1802, 105, 4, 289],
          backgroundColor: ['#b1181d', '#5e6572', '#cacaca', '#ffeb3b', '#7c808d'],
          hoverOffset: 4
        }]
      };

  // Data for Other Exploitation by Country
    const ukTraffickingDataEngland = {
      labels: ['Adult', 'Child'],
      datasets: [{
        data: [1837, 1736],
        backgroundColor: ['#7c808d', '#cacaca'],
        hoverOffset: 4
      }]
    };

  // Data for Other Exploitation by Country
    const ukTraffickingDataScotland = {
      labels: ['Adult', 'Child'],
      datasets: [{
        data: [90, 25],
        backgroundColor: ['#7c808d', '#cacaca'],
        hoverOffset: 4
      }]
    };

  // Data for Other Exploitation by Country
    const ukTraffickingDataWales = {
      labels: ['Adult', 'Child'],
      datasets: [{
        data: [70, 92],
        backgroundColor: ['#7c808d', '#cacaca'],
        hoverOffset: 4
      }]
    };

  // Data for Other Exploitation by Country
    const ukTraffickingDataNorthernIreland = {
      labels: ['Adult', 'Child'],
      datasets: [{
        data: [17, 10],
        backgroundColor: ['#7c808d', '#cacaca'],
        hoverOffset: 4
      }]
    };

  // Options for doughnut charts
  const chartOptions = {
  responsive: true,
  maintainAspectRatio: false,
  plugins: {
    legend: {
      position: 'bottom',
    },
    tooltip: {
      callbacks: {
        label: function (tooltipItem) {
          return tooltipItem.label + ': ' + tooltipItem.raw;
        }
      }
    }
  },
};

  // Render each chart
  const ctx1 = document.getElementById('traffickingChart').getContext('2d');
  new Chart(ctx1, { type: 'doughnut', data: traffickingData, options: chartOptions });

  const ctx2 = document.getElementById('genderAgeChart').getContext('2d');
  new Chart(ctx2, { type: 'doughnut', data: genderAgeData, options: chartOptions });

  const ctx3 = document.getElementById('totalVictimsChart').getContext('2d');
  new Chart(ctx3, { type: 'doughnut', data: totalVictimsData, options: chartOptions });

  const ctx4 = document.getElementById('ageGroupChart').getContext('2d');
  new Chart(ctx4, { type: 'doughnut', data: ageGroupData, options: chartOptions });

  const ctx5 = document.getElementById('sexualExploitationGenderChart').getContext('2d');
  new Chart(ctx5, { type: 'doughnut', data: sexualExploitationGenderData, options: chartOptions });

  const ctx6 = document.getElementById('labourExploitationGenderChart').getContext('2d');
  new Chart(ctx6, { type: 'doughnut', data: labourExploitationGenderData, options: chartOptions });

  const ctx7 = document.getElementById('criminalityExploitationGenderChart').getContext('2d');
  new Chart(ctx7, { type: 'doughnut', data: criminalityExploitationGenderData, options: chartOptions });

  const ctx8 = document.getElementById('otherExploitationGenderChart').getContext('2d');
  new Chart(ctx8, { type: 'doughnut', data: otherExploitationGenderData, options: chartOptions });

  // UK Data
  const ctx9 = document.getElementById('ukTraffickingChartFemale').getContext('2d');
  new Chart(ctx9, { type: 'doughnut', data: ukTraffickingDataFemale, options: chartOptions });

  const ctx10 = document.getElementById('ukTraffickingChartMale').getContext('2d');
  new Chart(ctx10, { type: 'doughnut', data: ukTraffickingDataMale, options: chartOptions });

  const ctx11 = document.getElementById('ukTraffickingChartGirls').getContext('2d');
  new Chart(ctx11, { type: 'doughnut', data: ukTraffickingDataGirls, options: chartOptions });

  const ctx12 = document.getElementById('ukTraffickingChartBoys').getContext('2d');
  new Chart(ctx12, { type: 'doughnut', data: ukTraffickingDataBoys, options: chartOptions });

  const ctx13 = document.getElementById('ukTraffickingChartEngland').getContext('2d');
    new Chart(ctx13, { type: 'doughnut', data: ukTraffickingDataEngland, options: chartOptions });

  const ctx14 = document.getElementById('ukTraffickingChartScotland').getContext('2d');
    new Chart(ctx14, { type: 'doughnut', data: ukTraffickingDataScotland, options: chartOptions });

  const ctx15 = document.getElementById('ukTraffickingChartWales').getContext('2d');
  new Chart(ctx15, { type: 'doughnut', data: ukTraffickingDataWales, options: chartOptions });

  const ctx16 = document.getElementById('ukTraffickingChartNorthernIreland').getContext('2d');
  new Chart(ctx16, { type: 'doughnut', data: ukTraffickingDataNorthernIreland, options: chartOptions });
</script>
<script>
  const currentYear = new Date().getFullYear();
  document.getElementById("current-year").innerText = currentYear;
</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}