{% extends "base.html" %}
{% load static %}

{% block title %}Success Stories - For the 50{% endblock %}

{% block content %}



<header class="py-5 background-image3">
    <div class="container d-flex align-items-center justify-content-center" style="height: 100%;">
        <div class="row gx-5 align-items-left justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-8">
                <div class="text-center semi-opaque-grey rounded p-2">
                    <h1 class="display-5 fw-bolder text-center main-title-color mb-2">
                        Success Stories
                    </h1>
                    <p class="fw-normal">
                        Real-life examples of how victims of modern slavery and human trafficking have found <strong class="red">freedom</strong> and
                        hope.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="pt-4 back1">
    <div class="container px-lg-5">


        <div class="row gx-5 rounded card1 h-90 p-4">
            <div class="col-lg-8">
                
                <h2 class="px-3 py-2 rounded text-center bg-opacity-50 mb-3 sub-titel fw-bold">Operation Fort (UK)</h2>
                <p>Operation Fort was one of the largest modern slavery investigations in the UK, uncovering a Polish
                    trafficking network that exploited over 400 victims. The operation revealed how vulnerable
                    individuals were lured to the UK with promises of work, only to be forced into degrading conditions,
                    including poor housing, minimal pay, and threats of violence. The perpetrators, primarily from two
                    Polish families, controlled their victims' bank accounts and documents, leaving them powerless.
                    After a lengthy investigation, several members of the network were convicted in 2019, marking a
                    significant victory in the fight against modern slavery. The case highlighted the importance of
                    collaboration between UK authorities, charities, and Polish law enforcement in dismantling the
                    trafficking network. 
                    <a href="https://hopeforjustice.org/news/operation-fort-uncovering-the-largest-modern-slavery-ring-in-uk-history/" target="_blank" class="link text-decoration-none">Full Story</a></p>

            </div>

            <div class="col-lg-4 text-center">
                <img src="{% static 'assets/Operation-Fort.jpg' %}" alt="Operation Fort image" class="image-story shadow rounded">
            </div>

        </div>

        <div class="col-lg-6 col-xxl-4 mb-5">

        </div>



    


        <div class="row gx-5 rounded card1 h-90 p-4">

            <div class="col-lg-8">
                <h2 class="px-3 py-2 rounded text-center bg-opacity-50 mb-3 sub-titel fw-bold">Case of Maria (Ireland)</h2>
                <p>The Case of Maria in Ireland brought to light the harrowing experience of a Brazilian woman
                    trafficked for forced labor. Maria was lured to Ireland with promises of legitimate work but was
                    instead subjected to exploitation in domestic servitude. She endured long hours of unpaid labor,
                    confiscation of her documents, and physical and emotional abuse. Fearing retaliation and
                    deportation, Maria remained trapped in silence until escaping with the help of a concerned neighbor.
                    Her case highlighted the vulnerabilities faced by migrant workers and the importance of Ireland's
                    National Referral Mechanism in identifying and supporting victims of trafficking. It underscored the
                    need for stronger protections and public awareness to combat modern slavery. <a
                        href="https://www.anyonetrafficked.com/" target="_blank" class="link text-decoration-none">Full Story</a>
                </p>

            </div>

            <div class="col-lg-4 text-center">
                <img src="{% static 'assets/farming.jpeg' %}" alt="Operation Fort image" class="image-story shadow rounded">
            </div>
        </div>


        <div class="col-lg-6 col-xxl-4 mb-5">

        </div>



    <div class="row gx-5 rounded card1 h-90 p-4">
        <div class="px-3 py-2 rounded  bg-opacity-50 mb-3 sub-titel">
            <h2 class="fw-bold text-center">Survivor Stories</h2>
        </div>


        <!-- Lily's Story -->
        <div class="story">
            <img src="{% static 'assets/Lilys.jpg' %}" alt="Lilys Story image" class="profile-image shadow">
            <div class="story-content">
                <h3>Lily's Story</h3>
                <p>Lily came to the UK to escape political turmoil in her home country, hoping to earn money for her
                    children. Instead, she was exploited as a domestic servant, working up to 18 hours a day, seven days
                    a week, for nine years, earning just £5 a day. Isolated and unaware of her legal rights, Lily
                    endured until the Home Office identified her as a victim of modern slavery and referred her to
                    Causeway for support. After reuniting with her family after 23 years, she faced depression and PTSD
                    but found solace through Causeway's LifeLink support groups. Now living independently, Lily receives
                    psychological support and hopes to rebuild her life. <a
                        href="https://www.wearecauseway.org.uk/slavery_stories/lillys-story" target="_blank"
                        class="link text-decoration-none">Full Story</a></p>
            </div>
        </div>

        <!-- Emina's Story -->
        <div class="story">
            <img src="{% static 'assets/Forced-marriage.jpg' %}" alt="Emina's Story image" class="profile-image shadow">
            <div class="story-content">
                <h3>Emina's Story</h3>
                <p>Emina, a young woman from Albania, was forced into marriage at 20 despite her university aspirations.
                    After moving to the UK with her husband, she was exploited through childcare and household labor
                    while awaiting a spousal visa. Fearing shame and blood feuds, she hid her suffering from her family.
                    Her husband abandoned her after two years, leaving her homeless and vulnerable with unstable
                    immigration status. With support from the Medaille Trust, she entered the National Referral
                    Mechanism and was placed in a safehouse. Though she now receives support, her future is uncertain as
                    her asylum application was denied without the right to appeal under the UK-Albania agreement.<a
                        href="https://www.medaille-trust.org.uk/survivor-stories" target="_blank"
                        class="link text-decoration-none">Full Story</a></p>
            </div>
        </div>

        <!-- Mende Nazer's Story -->
        <div class="story">
            <img src="{% static 'assets/Mende_Nazer.jpg' %}" alt="Mende Nazer's Story image" class="profile-image shadow">
            <div class="story-content">
                <h3>Mende Nazer's Story</h3>
                <p>Mende Nazer, a Sudanese author and human rights activist, was abducted at age 12 or 13 during a
                    slaving raid on her village in the Nuba Mountains and sold into slavery. She spent six years as a
                    domestic servant in Khartoum, enduring hard labor and abuse, before being sent to London to work for
                    a Sudanese diplomat. With the help of a fellow Sudanese, she escaped and sought asylum in the UK.
                    Although initially denied, her asylum claim gained support from human rights groups and was
                    eventually approved in 2002 after the publication of her autobiography, Slave: My True Story. Her
                    story has since been adapted into a film and stage play, highlighting her journey from slavery to
                    activism.<a href="https://en.wikipedia.org/wiki/Mende_Nazer" target="_blank"
                        class="link text-decoration-none">Full Story</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

</section>
<div class="col-lg-6 col-xxl-4 mb-5">

</div>

{% endblock content %}