.reportContainer {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #bebebec3;
}

h2 {
  font-weight: bold;
  color: #343a40;
}

.formLabel {
  margin-bottom: 3px;
  font-size: 15px;
}

.formInput {
  padding: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.formInput:focus {
  border-color: #0017af38; 
  box-shadow: 0 0 5px rgba(0, 30, 255, 0.8); 
  outline: none;
}

button {
  font-size: 1rem;
  padding: 10px;
}
