{% extends "base.html" %}
{% load static %}

{% block title %}Error 403{% endblock %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-md-12 col-lg-10 col-xl-8 text-center mx-auto mb-2">
      <h1 class="text-center pt-2">Oops! Have you lost your way?</h1>
      <img src="{% static 'assets/403.jpg' %}" class="img-fluid w-100 my-3 rounded shadow"
        alt="403 Forbidden error image">
      <p class="text-center p-3">You don't have permission to access this page. Let's get you
        back to safety!</p>
      <a href="{% url 'index' %}" class="primary-btn shadow btn" aria-label="Brings back to home page">Back Home</a>
    </div>
  </div>
</div>

{% endblock content %}