{% extends "base.html" %}
{% load static %}

{% block title %}Error 500{% endblock %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-md-12 col-lg-10 col-xl-8 text-center mx-auto mb-2">
      <h1 class="text-center pt-2">Oops! Something Went Wrong</h1>
      <img src="{% static 'assets/500.jpg' %}" class="img-fluid w-100 my-3 rounded shadow" alt="500 Server error image">
      <p class="text-center p-3">Looks like our server got into trouble and couldn't complete
        your request. Let's get you back to safety!</p>
      <a href="{% url 'index' %}" class="primary-btn shadow btn" aria-label="Brings back to home page">Back Home</a>
    </div>
  </div>
</div>

{% endblock content %}