:root {
    --white: #ffffff;
    --yellow: #ffeb3b;
    --red: #da2128;
    --dark-red: #b1181d;
    --burgundy: #1d0202;
    --light-gray: #cacaca;
    --medium-gray: #7c808d;
    --dark-gray: #5e6572;
    --black: #000000;
}

html, body {
    color: var(--black);
    font-family: "Merriweather", serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.navbar {
    background-color: var(--black);
}

.navbar .nav-link,
.footer {
    color: var(--red);
    font-weight: bold;
    letter-spacing: 0.05rem;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: var(--yellow);
    transform: scale(1.1);
}

.navbar .nav-link.active {
    color: var(--yellow);
}

.footer {
    background-color: var(--black);
    text-align: center;
    padding: 1rem;
    width: 100%;
    z-index: 1000;
}

.footer a {
    color: var(--yellow);
    text-decoration: none;
}

.footer a:hover {
    color: #c9b60d;
    text-decoration: none;
}

img.footer-logo.pb-1 {
    height: 20px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--red);
}

.logo-text:hover {
    color: var(--red);
    transform: scale(1.1);
}

.logo-text img {
    height: 40px;
}

.content {
    padding-top: 70px; 
    padding-bottom: 50px;  
}

/* Statistics */
.card {
    height: 500px;
    max-width: 400px;
}

#ytWidget {
    /*background-color: #ffeb3bbe;
    border-top: 1px solid var(--white);*/
    padding:5px;
    text-align: right;
}

/* Buttons */
.danger-btn {
    background-color: var(--red);
    border: none;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.danger-btn:hover {
    background-color: var(--dark-red);
    border: none;
    color: var(--white);
}

.primary-btn {
    background-color: var(--black);
    border: none;
    color: var(--red);
    letter-spacing: 0.05rem;
}

.primary-btn:hover {
    background-color: var(--dark-red);
    border: none;
    color: var(--white);
}