header {
    background: url('../images/Industrial-fence.jpg') no-repeat center center;
    background-size: cover; /* Makes the background cover the entire header */
    background-attachment: fixed; /* Keeps the background still while scrolling */
    height: 60vh; /* Sets the header height to fill the viewport */
    color: white; /* Ensures text is readable */
    position: relative; /* Allows for overlays if needed */
  }

 .main-title-color {
    color: #000;
  }

  .sub-title-color {
    color: #343a40;
    font-size: 15px;
  }

  .semi-opaque-grey {
    background: rgba(128, 128, 128, 0.9); 
    padding: 20px; 
    color: white; 
    border-radius: 5px; 
  }

  .section-highlight {
    font-size: 1.3rem; 
    font-weight: bold;
    color: white; 
  }

  .cards {
    background: rgba(128, 128, 128, 0.1); 
    border-radius: 10px; 
    padding: 10px 20px; 
    margin-bottom: 10px; 
    height: auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    margin: 0; 
    padding: 0; 

  }
  
  p {
    margin: 0; 
    font-size: 1.1rem; 
    line-height: 1.6; 
  }
  
  .featurette-image {
    max-height: 200px; 
    object-fit: contain; 
  }
  